.card-container {
    display: grid;
    padding: 3%;
    grid-gap: 10px;
}

.title,
.footer {
    display: grid;
    grid-auto-flow: column;
}

.title-button {
    max-width: 20%;
    justify-self: end;
}

.content-line {
    border: solid;
    border: solid;
    border-width: 1px;
    border-color: gainsboro;
}

.button-comment {
    justify-items: end
}

.post-card-title-link {
    color: #3F51B5;
    cursor: pointer;
}
