.card-content {
    display: grid;
    width: 50%;
    padding: 3%;
    grid-gap: 10px;
}

.card-content-title-button {
    max-width: 20%;
    justify-self: end;
}

.card-content-line {
    border: solid;
}

.card-content-title,
.card-content-iten-footer {
    display: grid;
    grid-auto-flow: column;
}

.card-title-link {
    color: #3F51B5;
    cursor: pointer;
}

.button-comments {
    justify-items: end
}
