.post-container {
    display: grid;
    grid-gap: 5%;
    justify-items: center;
    width: 100%;
}

.post-dashboard {
    display: grid;
    grid-gap: 5%;
    width: 50%;
}

.division-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
