.avatar {
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}

.heart-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px 5px 0px 10px;
  }

.heart-button > svg {
    padding-top: 19%;
}

.tweet {
    width: 100%;
    max-width: 590px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
}

.tweet-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .tweet-info > div > span:first-child {
    font-weight: bold;
    margin-right: 5px;
  }
  .tweet-info > div > span:nth-child(2) {
    color: #969696;
    font-size: 16px;
  }
  .tweet-info > div {
    color: #969696;
    font-size: 15px;
  }
  .tweet-info > div > p {
    font-size: 18px;
    margin: 10px 0;
  }
  .tweet-icons {
    display: flex;
    align-items: center;
  }
  .tweet-icons {
    display: flex;
    align-items: center;
  }

  .tweet-icons > svg {
    padding: 0px 5px 0px 10px;
  }

  .replying-to {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: #969696;
    cursor: pointer;
    text-align: inherit;
  }